.contacts {
  padding-left: 90px;
  padding-right: 33px;
  border-left: 1px solid #d7d9df;
  border-right: 1px solid #d7d9df;
  display: flex;
  flex-direction: column;
  margin-right: 10px;

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    color: #141517;
    line-height: 1.8;
    margin-bottom: 18px;
  }

  &__link-text {
    border-bottom: 1px solid #fe8978;
  }

  &__link {
    color: #fe7865;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    min-height: 30px;

    &--mail {
      font-size: 14px;
      position: relative;
      padding-left: 40px;

      &::before {
        content: "";
        position: absolute;
        background-image: url("../../img/mail.svg");
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        width: 26px;
        height: 20px;
      }
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    fill: none;
    color: #D7D9DF;
    margin-right: 20px;
  }

  @media (max-width: $bp-tablet) {
    padding: 0;
    padding-left: 49px;
    border-right: none;
    margin: 0;
    padding-top: 3px;
  }

  @media (max-width: $bp-mobile) {
    padding: 0;
    align-items: center;
    padding-top: 30px;
    border-left: none;
    min-width: 288px;
    border-top: 1px solid #d7d9df;
    border-bottom: 1px solid #d7d9df;

    &__title {
      padding-right: 10px;
    }
  }
}
