.country {
  margin-top: 95px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../../img/photo-greece.jpg);
    background-repeat: no-repeat;
    top: -15px;
    left: 470px;
    width: 430px;
    height: 596px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: none;

    &--active {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }
}
