.countries {
  display: flex;
  position: relative;
  @include list-reset;

  &::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(44, 46, 63, 0.3);
    bottom: 0;
    left: 0;
    width: 920px;
  }

  &__item {
    margin-right: 96px;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 15px;
  }

  &__link {
    opacity: 0.3;

    &:hover {
      opacity: 1;
      color: #fe7865;
    }

    &:active {
      color: #db2810;
    }
  }

  @media (max-width: $bp-tablet) {
    margin-left: 36px;
    overflow-x: scroll;

    &::before {
      width: 100%;
    }
  }

  @media (max-width: $bp-mobile) {
    margin-left: 15px;
  }
}
