.country {
  margin-top: 93px;
  position: relative;
  letter-spacing: -1.245px;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../../img/photo-greece-bc-desctop.jpg);
    background-repeat: no-repeat;
    background-color: #7e99c2;
    top: -15px;
    left: 470px;
    width: 430px;
    height: 596px;
  }

  &__list {
    @include list-reset;
  }

  &__item {
    display: none;

    &--active {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media (max-width: $bp-tablet) {
    margin-top: 33px;
    letter-spacing: 0;

    &::before {
      background-image: url(../../img/photo-bc-greece-tablet.png);
      background-size: cover;
      top: 332px;
      left: 0;
      width: 100%;
      height: 415px;
    }

    &__item {
      &--active {
        flex-direction: column;
      }
    }
  }

  @media (max-width: $bp-mobile) {
    margin-top: 24px;

    &::before {
      background-image: url(../../img/photo-bc-greece-mobile.png);
      top: 568px;
    }
  }
}
