.feedback {
  margin-top: 140px;
  position: relative;
  min-height: 455px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../img/photo-sunset.jpg");
    background-repeat: no-repeat;
    background-color: #fe7865;
    width: 845px;
    height: 455px;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $bp-tablet) {
    margin-top: 125px;
    justify-content: center;

    &::before {
      background-image: url("../../img/photo-sunset-tablet.jpg");
      width: 768px;
    }
  }
}
