.footer {
  margin-top: 170px;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;

  &__next-travel {
    min-width: 375px;
    padding-left: 13px;
  }

  &__contacts {
    min-width: 390px;
  }

  &__offer {
    max-width: 340px;
  }

  @media (max-width: $bp-tablet) {
    margin-top: 80px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    padding-left: 18px;
    padding-right: 18px;
    justify-content: stretch;

    &__next-travel {
      min-width: 398px;
      padding: 0;
    }

    &__contacts {
      min-width: 330px;
    }

    &__offer {
      max-width: 100%;
    }
  }

  @media (max-width: $bp-mobile) {
    margin-top: 70px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 25px;
    justify-content: center;

    &__next-travel {
      min-width: 300px;
      padding: 0;
    }
  }
}
