.footer {
  margin-top: 170px;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;

  &__next-travel {
    max-width: 350px;
  }

  &__contacts {
    max-width: 390px;
  }

  &__offer {
    max-width: 340px;
  }

  @media (max-width: $bp-tablet) {
    margin-top: 80px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: stretch;

    &__next-travel {
      max-width: 400px;
    }

    &__contacts {
      max-width: 330px;
    }

    &__offer {
      max-width: 100%;
    }  
  }

  @media (max-width: $bp-mobile) {
    margin-top: 70px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 25px;
    justify-content: center;
  }
}
