.intro {
  color: #ffffff;
  position: relative;
  display: flex;
  min-height: 860px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../img/photo-main-page.jpg");
    background-repeat: no-repeat;
    background-color: #7e99c2;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__inner {
    margin-left: auto;
    margin-right: 23.5%;
    margin-top: 9.7%;
    margin-bottom: 8%;
    flex-basis: 393px;
  }

  &__title {
    font-size: 55px;
    font-weight: 600;
    margin: 0;
    letter-spacing: -1.10px;
    line-height: 1.4;
  }

  &__description {
    margin: 0;
    margin-top: 33px;
    line-height: 1.7;
    letter-spacing: -0.46px;
  }

  &__link {
    margin-top: 33px;
    padding-right: 178px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 14px;
      right: 45px;
      border: 2px solid #ffffff;
    }

    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      right: 41px;
      top: 32px;
      border-right: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      transform: rotate(45deg);
    }
  }

  @media (max-width: $bp-tablet) {
    min-height: 344px;

    &::before {
      background-image: url("../../img/photo-main-tablet.jpg");
    }

    &__title {
      font-size: 30px;
      letter-spacing: 0;
    }

    &__inner {
      margin: 0 auto;
      margin-top: 60px;
      text-align: center;
      flex-basis: 415px;
    }

    &__description {
      margin-top: 20px;
      line-height: 1.6;
      letter-spacing: -0.46px;
    }

    &__link {
      margin-top: 12px;
      font-weight: 500;
      font-size: 10px;
      padding: 20px 40px;
      padding-right: 108px;

      &::before {
        border: 1px solid #ffffff;
        right: 47px;
        top: 18px;
      }

      &::after {
        right: 42px;
        top: 19px;
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
      }
    }
  }

  @media (max-width: $bp-mobile) {
    min-height: 435px;

    &::before {
      background-image: url("../../img/photo-main-mobile.jpg");
      height: 235px;
    }

    &__title {
      font-size: 24px;
      line-height: 1.5;
    }

    &__inner {
      max-width: 290px;
      margin-top: 82px;
    }

    &__description {
      margin-top: 102px;
      color: #2c2e3f;
      line-height: 1.65;
    }

    &__link {
      margin-top: 20px;
      padding-right: 145px;
    }
  }
}
