.main {
  background-image: url("../img/background-map.svg");
  background-repeat: no-repeat;
  background-position: 230px 2565px;

  @media (max-width: $bp-tablet) {
    background-image: none;
  }
}
