.modal-buy {
  min-width: 728px;
  min-height: 444px;
  background-color: #fbf8f8;
  display: none;
  position: fixed;
  top: 20%;
  left: 30%;
  z-index: 1;

  &--is-open {
    display: flex;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url(../../img/photo-modal.jpg);
    width: 338px;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 390px;
    min-height: 444px;
    margin-left: auto;
  }

  @media (max-width: $bp-tablet) {
    left: 2%;
  }

  @media (max-width: $bp-mobile) {
    min-width: 320px;
    height: 568px;
    background-color: #ffffff;
    border: 1px solid #d7d9df;
    top: 10%;
    left: 0;

    &::before {
      content: none;
    }
  }
}
