.next-travel {
  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.8;
  }

  &__list {
    @include list-reset;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 10px;
  }

  &__item-wrapper {
    min-width: 95px;
    font-size: 14px;
    color: rgba(20, 21, 23, 0.5);
  }

  &__item-inner {
    @include list-reset;  }

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    cursor: pointer;
  }

  @media (max-width: $bp-tablet) {
    &__title {
      padding-left: 4px;
      padding-top: 4px;
    }

    &__list {
      padding-right: 50px;
    }
  }

  @media (max-width: $bp-mobile) {
    &__title {
      text-align: center;
      padding-right: 14px;
    }

    &__list {
      padding: 0;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__item {
      text-align: center;
    }

    &__item-inner {
      flex-grow: 1;
      margin-right: 10px;
      margin-bottom: 6px;
    }
  }
}
