.next-travel {
  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.8;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    margin: 0;
    margin-top: 20px;
    padding-right: 10px;
  }

  &__item {
    margin-bottom: 10px;
    min-width: 95px;
    font-size: 14px;
    color: rgba(20, 21, 23, 0.5);
  }

  &__link {
    cursor: pointer;
  }
}
