.page-header {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  align-items: center;

  @media (max-width: $bp-tablet) {
    min-height: 50px;
    padding: 0;
    align-items: end;
    flex-wrap: wrap;

    &__logo {
      max-width: 65px;
      height: 37px;
      padding-left: 20px;
      padding-top: 19px;
    }
  }

  @media (max-width: $bp-mobile) {
    &__logo {
      padding-left: 15px;
      padding-top: 17px;
    }  
  }
}
