.places-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 9px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -14px;
    margin-bottom: 52px;

    &:nth-of-type(4n) {
      margin-left: 175px;
    }

    &:nth-of-type(5n) {
      margin-right: 175px;
    }

    &:hover {
      align-items: flex-end;

      .places-list__link {
        z-index: 1;
      }
      .places-list__hover {
        display: block;
        background: rgba(20, 21, 23, 0.6);
        position: absolute;
        top: 63px;
        width: 100%;
        height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__hover {
    display: none;
  }

  &__hover-button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 30px 25px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
  }

  &__link {
    padding: 15px;
    padding-bottom: 17px;
    position: relative;
    top: 431px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.415px;
    min-width: 215px;
    text-align: center;
  }

  &__image {
    max-width: 350px;
    height: 430px;
  }

  @media (max-width: $bp-tablet) {
    justify-content: center;

    &__item {
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: -8px;

      &:nth-of-type(4n) {
        margin-left: 15px;
        margin-right: 15px;
      }

      &:nth-of-type(5n) {
        margin-right: 15px;
        margin-left: 15px;
      }

      &:hover {
        .places-list__hover {
          top: 47px;
          height: 424px;
        }
      }
    }

    &__image {
      margin-top: -17px;
    }  

    &__link {
      top: 410px;
    }

    &__image {
      max-width: 288px;
      height: 425px;
    }
  }

  @media (max-width: $bp-mobile) {
    &__item {
      margin-bottom: 22px;
      margin-top: -33px;
    }
  }
}
