.places {
  margin-top: 203px;

  &__inner {
    max-width: 345px;
  }

  &__title {
    font-weight: 600;
    font-size: 55px;
    margin: 0;
    letter-spacing: -1.245px;
    line-height: 1.4;
  }

  &__description {
    margin: 0;
    margin-top: 66px;
    line-height: 1.7;
    letter-spacing: -0.46px;
    color: rgba(44, 46, 63, 0.7);
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  @media (max-width: $bp-tablet) {
    margin-top: 80px;

    &__inner {
      margin: 0 auto;
      text-align: center;
    }

    &__title {
      font-size: 30px;
      line-height: 1.5;
    }

    &__description {
      margin-top: 20px;
    }
  }

  @media (max-width: $bp-mobile) {
    margin-top: 108px;

    &__title {
      font-size: 24px;
    }

    &__inner {
      max-width: 288px;
    }
  }
}
